In [1]:
# My very first line of code
print("Hello World")

Hello World

In [2]:
# Chapter 2 python basics
print("hello")    # inline comment

hello

In [3]:
""" 
this is a multi-line comment
"""
# the following are all integers
print(2)
print(10)

2
10

In [4]:
# the following are all floats
print(10.953)
print(8.0)

10.953
8.0

In [5]:
# the following are booleans
print(True)
print(False)

True
False

In [6]:
# the following are strings
print(" ")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

In [7]:
# Monday's exercise
print("Ruby")
type(int) # will output <class 'int'>

Ruby

type

In [8]:
num1=5 #store an integer into a variable
num2=8.4 #store a float into a variable
print(num1, num2) #you can print multiple items using commas

5 8.4

In [9]:
#storing a boolean into a variable
switch=True
print(switch)

True

In [10]:
#storing strings into a variable
name= 'Ruby Tang'
fav_number= '5'
print(name, fav_number)  #will print 5 next to name

Ruby Tang 5

In [11]:
#use 2 variables to create another variable 
result= num1 + num2
print(result)

13.4

In [12]:
#adding, deleting, multiplying, dividing from a variable
result +=1 #saying result + 1
print (result)
result *=num1 #same as saying result * num1
print(result)

14.4
72.0

In [13]:
#defining a variable and overwriting it's value
name= 'Ruby'
print(name)
name='Phoebe'
print(name)

Ruby
Phoebe

In [14]:
#TUESDAY'S EXERCISE
x=3
y=10
result= x + y
print(result)

height= 245.54
width= 13.66
area= height * width
print(area)

13
3354.0764

In [19]:
# using the addition operator without variables
name= "Ruby" + " " + "Tang"
print(name)

#using the addition operator with variables
first_name= "Ruby"
last_name= "Tang"
full_name= first_name + " " + last_name
print(full_name)

Ruby Tang
Ruby Tang

In [20]:
# injecting variables using the format method
name= "Ruby"
print("Hello {}".format(name) )
print( "Hello {}, you are {} years old!".format(name, 25) )

Hello Ruby
Hello Ruby, you are 25 years old!

In [24]:
#using f srings
name='Ruby'
print( f"Hello {name}")

#major difference between versions 2&3
name= 'Ruby'
print('Hello, %s' %name)

# python 2 multiple variable formatting
first_name = "Ruby"
last_name = "Tang"
print( "Hello, %s %s" % (first_name, last_name) )
# surround the variables in parenthesis

Hello Ruby
Hello, Ruby
Hello, Ruby Tang

In [27]:
# using indexes to print each element
word = "Hello"
print( word[ 0 ] ) # will output 'H'
print( word[ 1 ] ) # will output 'e'
print( word[ -1 ] ) # will output 'o'

print( word[ 0 : 2 ] ) # will output 'He'
print( word[ 0 : 5 : 2 ] ) # will output 'Hlo'

H
e
o
He
Hlo

In [32]:
#WEDNESDAY'S EXERCISE
integer=23
float=4.5
boolean=False
string='John'
print(integer, float, boolean, string)

name='Ruby'
sport='running'
program='python'
print ( "{}'s favourite sport is {}.".format(name, sport))
print ( "{} is working on {} programming!" .format(name, program))

23 4.5 False John
Ruby's favourite sport is running.
Ruby is working on python programming!

In [ ]:
#using the title method to capitalise, lowercase and uppercase a string
name='ruby tang'
print(name.title())
print(name.lower( )) 
print(name.upper( ))

Ruby Tang
ruby tang
RUBY TANG

In [40]:
#replace an exclamation point with a period
words= "Hello there!"
print ( words.replace("!","."))

#find the starting index of our searched term
s= "look over that way"
print(s.find("over"))

#convert a string into a list of words
s="these words are separated by spaces"
print(s.split (" "))

Hello there.
5
['these', 'words', 'are', 'separated', 'by', 'spaces']

In [54]:
#THURSDAY'S EXERCISES
string= "uppercase"
print(string.upper ())

string="$$Ruby Tang"
print(lstrip(string=, /))

SyntaxError: invalid syntax (3576098137.py, line 6)

In [84]:
#Create a product and price for three items
p1_name, p1_price= "Book", 11.99
p2_name, p2_price= "Matcha", 7.99 
p3_name, p3_price= "Tote", 24.99

#create a company name and info
company_name= "Ruby's Cafe"
company_address="88 Matcha St"
company_city= "Bubblestown, BBT"

#declare ending message
message="Enjoy your caffeine and book :)"

#create top border
print("*" *50)

# print company information first, using format 
print(company_name)
print(company_address)
print(company_city)
print("=" *50)

# print out header for section of items
print("\tProduct Name\tProduct Price")

#print price statement for each product
print( "\t{}\t\t${}".format(p1_name, p1_price) )
print( "\t{}\t\t${}".format(p2_name, p2_price) )
print( "\t{}\t\t${}".format(p3_name, p3_price) )
print("=" *50)

#print out header for section total
print("\t\t\tTotal")

#calculate total price and print
total= p1_price + p2_price + p3_price
print("\t\t\t${}".format(total) )
print( "=" * 50)

#output message
print(message)

**************************************************
Ruby's Cafe
88 Matcha St
Bubblestown, BBT
==================================================
	Product Name	Product Price
	Book		$11.99
	Matcha		$7.99
	Tote		$24.99
==================================================
			Total
			$44.97
==================================================
Enjoy your caffeine and book :)

In [ ]:
#Weekly challenge

In [5]:
#chapter 3

# accepting and outputting user input
print( input("What is your name? ") )

# saving what the user inputs
ans = input("What is your name? ")
print("Hello {}!".format(ans) )

ruby
Hello ruby!

In [9]:
# how to check the data type of a variable
num = 5
print( type(num) )

# converting a variable from one data type to another
num = "9"
num = int(num) # re-declaring num to store an integer
print( type(num) ) # checking type to make sure conversion worked

# working with user input to perform calculations
ans = input("Type a number to add: ")
print( type(ans) ) # default type is string, must convert
result = 100 + int(ans)
print( "100 + {} = {}".format(ans, result) )

<class 'int'>
<class 'int'>
<class 'str'>
100 + 10 = 110

In [11]:
# using the try and except blocks, use tab to indent where necessary
try:
    ans = float( input("Type a number to add: ") )
    print( "100 + {} = {}".format(ans, 100 + ans) )
except:
    print("You did not put in a valid number!")
# without try/except print statement would not get hit if error occurs
print("The program did not break!")

100 + 5.0 = 105.0
The program did not break!

In [ ]:
#MONDAY'S EXERCISE
bool('True')
print(bool)

#need to complete this exercise :)

<class 'bool'>

In [ ]:
# using an if statement to only run code if the condition is met
x, y = 5, 10
if x < y:
    print("x is less than y")

# checking user input
ans = int( input("What is 5 + 5? ") )
if ans == 10:
    print("You got it right!")

# using the keyword 'and' in an 'if statement'
x, y, z = 5, 10, 5
if x < y and x == z:
    print("Both statements were true")

# using the keyword 'or' in an 'if statement'
# != means that it doesn't equal
x, y, z = 5, 10, 5
if x < y or x != z:
    print("One or both statements were true")

x is less than y
You got it right!
Both statements were true
One or both statements were true

In [21]:
# using the keyword 'not' within an 'if statement'
flag = False
if not flag: # same as saying if not true
    print("Flag is False")

# using the keyword 'in' within an 'if statement'
word = "Baseball"
if "b" in word:
    print( "{} contains the character b".format(word) )

# using the keyword 'not in' within an 'if statement'
word = "Baseball"
if "x" not in word:
    print( "{} does not contain the character x".format(word) )

Flag is False
Baseball contains the character b
Baseball does not contain the character x

In [ ]:
#TUESDAY'S EXERCISE
#ask for user input to see if what they wrote es
word = input("Type a random word ")
if 'es' in word:
    print( "{} has the letters es" .format(word) )
if 'es' not in word:
    print( "{} does not have the letters es" .format(word) )

#complete rest of EXERCISES :D

berry does not have the letters es

In [32]:
# using the elif conditional statement
x, y = 5, 10
if x > y:
    print("x is greater")
elif x < y:
    print("x is less")

# checking more than one elif conditional statement
x, y = 5, 10
if x > y:
    print("x is greater")
elif (x + 10) < y: # checking if 15 is less than 10
    print("x is less")
elif (x + 5) == y: # checking if 10 is equal to 10
    print("equal")

x is less
equal

In [33]:
# writing multiple conditionals within each other - multiple block levels
x, y, z = 5, 10, 5
if x > y:
    print("greater")
elif x <= y:
    if x == z:
        print("x is equal to z") # resulting output
    elif x != z:
        print("x is not equal to z") # won't get hit

x is equal to z

In [34]:
# testing output of two if statements in a row that are both true
x, y, z = 5, 10, 5
if x < y:
    print("x is less")
if x == z:
    print("x is equal")

x is less
x is equal

In [44]:
#WEDNESDAY'S EXERCISES
#Check if number is lower or higher than 100
ans = input("Type a random number ")
num =  int(ans)
if num < 100:
    print( "{} is less than 100" .format(num) )
if num > 100:
    print( "{} is greater than 100" .format(num) )
if num == 100:
    print( "{} is equal to 100" .format(num) )   

# fix code to output lower
x, y = 5, 10
if x > y:
    print("greater")
if x < y:
    print("lower")

1902 is greater than 100
lower

In [52]:
# using an else statement
name = "John"
if name == "Jacob":
    print("Hello Jacob!")
else:
    print("Hello {}!".format(name) )

# writing a full conditional statement with if, elif, else
name = "Ruby"
if name[0] == "A":
    print("Name starts with an A")
elif name[0] == "B":
    print("Name starts with a B")
elif name[0] == "J":
    print("Name starts with a J")
else: # covers all other possibilities
    print( "Name starts with a {}".format( name[0] ) )

Hello John!
Name starts with a R

In [72]:
#THURSDAY'S EXERCISES
#fix code to output hello John
name = "John"
if name == "John":
    print("Hello John")
if name != "John":
    print ("Hello {}" .format(name))

#write a code to output a greeting for time of day
num= input("Type in the time of day e.g. 5:00 pm= 1700 ")
time =  int(num)
if time < 1200:
    print("Good morning :)")
elif 1700 > time >= 1200:
    print("Good afternoon :)")
elif time >= 1700:
    print("Good evening :)")

Hello John
Good afternoon :)

In [87]:
# step 1: ask user for calculation to be performed
operation = input("Would you like to add/subtract/multiply/divide? ").lower( )
print( "You chose {}.".format(operation) ) # for testing purposes

# step 2: ask for numbers, alert order matters for subtracting and dividing
if operation == "subtract" or operation == "divide":
    print( "You chose {}.".format(operation) )
    print("Please keep in mind that the order of your numbers matter.")
num1 = input("What is the first number? ")
num2 = input("What is the second number? ")
print( "First Number: {}".format(num1) ) # for testing purposes
print( "Second Number: {}".format(num2) ) # for testing purposes

# step 3: setup try/except for mathematical operation
try:
    # step 3a: immediately try to convert numbers input to floats
    num1, num2 = float(num1), float(num2)
    # step 3b: perform operation and print result
    if operation == "add":
        result = num1 + num2
        print( "{} + {} = {}".format(num1, num2, result) )
    elif operation == "subtract":
        result = num1 - num2
        print( "{} - {} = {}".format(num1, num2, result) )
    elif operation == "multiply":
        result = num1 * num2
        print( "{} * {} = {}".format(num1, num2, result) )
    elif operation == "divide":
        result = num1 / num2
        print( "{} / {} = {}".format(num1, num2, result) )
    else:
        # else will be hit if they didn't chose an option correctly
        print("Sorry, but '{}' is not an option.".format(operation) )
except:
    # steb 3c: print error
    print("Error: Improper numbers used. Please try again.")

You chose multiply.
First Number: 5
Second Number: 5
5.0 * 5.0 = 25.0

In [91]:
# step 1: ask user for calculation to be performed
operation = input("Would you like to add/subtract/multiply/divide?")

# step 2: ask for numbers, alert order matters for subtracting and dividing
if operation == "subtract" or operation == "divide":
    print( "You chose { }.".format(operation) )
    print("Please keep in mind that the order of your numbers matter.")
num1 = input("What is the first number? ")
num2 = input("What is the second number? ")
# step 3: setup try/except for mathematical operation
try:
    # step 3a: immediately try to convert numbers input to floats
    num1, num2 = float(num1), float(num2)
    # step 3b: perform operation and print result
    if operation == "add":
        result = num1 + num2
        print( "{} + {} = {}".format(num1, num2, result) )
    elif operation == "subtract":
        result = num1 - num2
        print( "{} - {} = {}".format(num1, num2, result) )
    elif operation == "multiply":
        result = num1 * num2
        print( "{} * {} = {}".format(num1, num2, result) )
    elif operation == "divide":
        result = num1 / num2
        print( "{} / {} = {}".format(num1, num2, result) )
    else:
        # else will be hit if they didn't chose an option correctly
        print("Sorry, but '{}' is not an option.".format(operation) )
except:
    # steb 3c: print error
    print("Error: Improper numbers used. Please try again.")

1.0 + 2.0 = 3.0

In [ ]:
#challenge 1
#Try to input string values name and age into a sentence using .format ()
name= "Ruby"
age= "25"
print("Hello, my name is {} and I am {} years old" .format(name, age))

Hello, my name is Ruby and I am 25 years old

In [ ]:
#challenge 2
#Try to assign different data types to variable names and get python to identify the value using type ()
greeting= "hello"
year_born= 1999
height_in_metres= 1.55
is_student=True
print(type(greeting))
print(type(year_born))
print(type(height_in_metres))
print(type(is_student))

#type only works on one variable at a time

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [109]:
#challenge 3
#Try to calculate the price of apples 
price_apple=0.49    #price of apple
num_apples=8   #number of apples
total_cost= price_apple * num_apples
print('The total cost for {} apples is {} dollars.' .format(num_apples, total_cost))

The total cost for 8 apples is 3.92 dollars.

In [112]:
#challenge 4
#Assign an age and update it by adding 5 years 
current_age= 25
print("My current age is {}." .format(current_age))
updated_age=current_age + 5
print("My new age is {}." .format(updated_age))

My current age is 25.
My new age is 30.

In [ ]:
#challenge 5
#Swapping values of two variables without assigning a temporary variable
x,y= 10, 20
x,y= y,x
print('x=',x)
print('y=', y)

t= x,y #temporary value by removing second line of code by adding hash in front and print t

x= 10
y= 20
(10, 20)